body {
    background-color: lightslategray;
}

header {
    background-color: grey;
    color:white;
}

h1 {
    color: white;
}

p {
    font-style: italic;
}

footer {
    font-weight: bold;
}

#ErrorList {
    font-weight: bold;
    color: red;
    font-style: italic;
}

.Warning {
    font-size: x-large;
    color: red;
}

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .5em 1em;
        display: block;
    }