@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Trade+Winds&display=swap');


.container {
    width: 100%;
    height: 100%;
    background: RGBA(150, 150, 150, .6);
}

nav ul{
    list-style: none;
    margin: 2em;
}

nav ul li {
    display: inline-block;
    margin: .4em;
    color: #FFFFFF;
    cursor: pointer;
}

nav ul li a {
    color: #FFFFFF;
    padding: 1em;
    text-align: left;
}

.logo img {
    width: 8em;
    margin-top: 1em;
    margin-bottom: -1em;
    margin-right: 48px;
}

/*
    Custom Option 1
    .logo img {
    width: 6em;
    margin-top: -15px;
    margin-bottom: -25px;
    margin-right: 48px;
*/

.banner {
    color: #000000;
    font-size: large;
    background-color: RGBA(150, 150, 150, .6);
}

.left {
    float: left;
}


body {
    background-image: url('../Images/artur-matosyan-eryEFcspx9k-unsplash.jpg');
    background-size: cover;
    background-attachment: fixed;
}

main {
    clear: both;
    background-color: RGBA(150, 150, 150, .6);
    padding: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

footer {
    font-style: italic;
    background-color: RGBA(150, 150, 150, .5);
    padding-bottom: .5em;
    margin-top: .5em;
}

h1 {
    color: #FFFFFF;
    font: bold;
}

h2 {
    color: #FFFFFF;
    text-decoration: underline;
    text
}

h3 {
    color: #FFFFFF;
}

a {
    color: #FFFFFF;
}
