/*
Color Scheme Dark
#731F2E
#1B1A26
#1C2026
#255937
#736A5F
*/

header {
    background-color: black;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: .5em;
    display: block;
    border: solid;
    border-color: black;
    margin-bottom: 10px;
    color: black;
    }

#font1 {
    font-family: Trade Winds, 'Times New Roman', Times, serif;
}

#font2 {
    font-family: Bangers, 'Times New Roman', Times, serif;
}

body {
    background-color: black;
    background-image: url('../Images/Dart Board Background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: black;
}

h1 {
    color: black;
}

p {
    font-style: italic;
}

footer {

}

#ErrorList {
    font-weight: bold;
    color: red;
    font-style: italic;
}

.Warning {
    font-size: x-large;
    color: red;
}

a:link {
    color: black;
    font-size: 40px;
}
